<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Terry Smith's personal site, lead developer @codecov.">
  <link rel="stylesheet" href="{{ "/assets/main.bundle.css" | url | bust }}">
  <script src=href="{{ "/assets/main.bundle.js" | url | bust }}" defer></script>
  <title>{{ title }} | Terry Script</title>
  {% block head %}{% endblock %}
</head>
<body class="flex flex-col gap-8 {{ 'debug-screens' if env.devMode }}">
  {% include 'header.njk' %}
  {% block body %}
    <div class="container">
      {{ content | safe }}
    </div>
  {% endblock %}
</body>
</html>
