<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Some developers site using some tech that looked interesting.">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }} | Terry Script</title>
  {% block head %}{% endblock %}
</head>
<body class="flex flex-col gap-8 {{ 'debug-screens' if env.devMode }}">
  {% include 'header.njk' %}
  {% block body %}
    <div class="container">
      {{ content | safe }}
    </div>
  {% endblock %}
</body>
</html>
