<nav>
    {% for item in navigation %}
      <a
        class="{{ 'font-black' if page.url == item.route }}"
        href="{{ item.route }}"
      >
        {{ item.name }}
      </a>
    {% endfor %}
</nav>
