<header 
  class="sticky inset-x-0 top-0 h-16 flex justify-between items-center text-lg bg-white border-b border-solid border-blue-100 z-10 px-5 md:p-0"
>
<div class="container">
  <ul class="hidden md:flex justify-inbetween gap-4 list-none p-0">
    {% for item in navigation %}
      <li class="">
        <a
          class="{{ 'bg-clip-text text-transparent bg-gradient-to-tr to-purple-500 from-blue-200' if page.url == item.route }} font-sans hover:animate-test text-dynamic"
          href="{{ item.route }}"
        >
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
    <span
    class="md:hidden cursor-pointer select-none text-4xl"
    :aria-expanded="isOpen"
    aria-controls="nav-list"
    @click="isOpen = !isOpen"
    x-text="isOpen ? '&#9932;' : '&#9776;'"
  ></span>
  </div>
</header>
