<ul>
{# Last 5 posts #}
{%- for post in collections.post | reverse -%}
{% if (loop.index <= 5) %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endif %}
{%- endfor -%}
</ul>