<ul>
{# Last 5 posts #}
{% set length = collections.post.length - 5 %} 
{%- for post in collections.post -%}
{% if (loop.index >= length) %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endif %}
{%- endfor -%}
</ul>