@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  ::selection {
    @apply bg-purple-300 text-purple-900;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply font-sans tracking-wider text-blue-800 bg-no-repeat bg-gradient-radial-custom;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  h1 {
    @apply tracking-tight;
  }

  h2 {
    @apply tracking-tight;
  }

  h3 {
    @apply tracking-tight;
  }

  h4 {
    @apply tracking-tight;
  }

  h5 {
    @apply tracking-tight;
  }

  h6 {
    @apply tracking-tight;
  }

  h7 {
    @apply tracking-tight;
  }

  a {
    @apply font-bold no-underline hover:underline;
  }

  blockquote {
    @apply border-solid border-blue-100 border-l-8 px-5 my-4;
  }

  ol,
  ul {
    @apply pl-10 pb-6 list-outside;
  }

  ol {
    counter-reset: listy 0;
  }

  ol li {
    counter-increment: listy 1;
  }

  ol li:before {
    content: counters(listy, ".");

    @apply font-bold font-sans text-current pr-5 align-top;
  }

  ul {
    @apply list-disc;
  }

  nav ul {
    @apply list-none;
  }

  hr {
    @apply my-4;
  }

  article {
    @apply p-10 md:p-0 min-h-full;
  }

  button,
  input {
    @apply focus:outline-none m-1 focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 py-3 px-4 bg-blue-700 hover:bg-blue-600 disabled:bg-blue-500 text-white placeholder-white;
  }

  input[type="checkbox"] {
    @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded;
  }
}

@layer components {
  .bg-gradient-radial-custom {
    background-image: radial-gradient(
        circle at 49.77% 0%,
        theme("colors.yellow.50"),
        transparent 2%
      ),
      radial-gradient(
        circle at 14.38% 9.49%,
        theme("colors.purple.50"),
        transparent 20%
      ),
      radial-gradient(
        circle at 84.84% 17.86%,
        theme("colors.pink.50"),
        transparent 20%
      ),
      radial-gradient(
        circle at 0.42% 98.1%,
        rgba(255, 255, 255, 0.8),
        transparent 100%
      ),
      radial-gradient(circle at 99.79% 99.55%, #ffffff, transparent 100%),
      radial-gradient(
        circle at 0.36% 53.24%,
        rgba(255, 255, 255, 0.8),
        transparent 100%
      ),
      radial-gradient(
        circle at 50% 50%,
        theme("colors.white"),
        theme("colors.white") 100%
      );
  }

  .p-indent + p {
    @apply indent;
  }
}

@layer utilities {
  .angled-top {
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  }

  .ratio-1-1 {
    aspect-ratio: 1 / 1;
  }

  .ratio-16\9 {
    aspect-ratio: 16 / 9;
  }
}

.blog {
  @apply max-w-para mx-auto;
}

.anchor-offset::before {
  @apply block h-20 -mt-20 invisible;
  content: " ";
}
