{% include "partials/htmlhead.njk" %}
{% include 'nav.njk' %}
{% include 'nav-open.njk' %}
<article>
  {% block body %}
    {{ content | safe }}
  {% endblock %}
</article>
{% include 'footer.njk' %}
{% include "partials/htmlfoot.njk" %}