{# This page is built with nunjucks! #}
{% extends "layouts/main.njk" %}

{% block body %}
<section class="container flex flex-col justify-center min-h-screen	">
  <h1 class="first-letter:tracking-tighter first-letter:text-hero-lg text-hero bg-clip-text text-transparent bg-gradient-to-tr from-blue-800 to-purple-800">
    Hello, I'm Terry.
  </h1>
  <p class="text-dynamic-3xl align-text-top sm:-mt-10">Under construction.</p>
</section>
<section class="container grid gap-16 grid-flow-row grid-cols-1 sm:grid-cols-2	md:grid-cols-3 mb-72">
  <h2 class="col-span-1 sm:col-span-2	md:col-span-3">Sketch book</h2>
  <div class="ratio-1-1 bg-gray-300"></div>
  <div class="ratio-1-1 bg-gray-300"></div>
  <div class="ratio-1-1 bg-gray-300"></div>
  <div class="ratio-1-1 bg-gray-300"></div>
  <div class="ratio-1-1 bg-gray-300"></div>
  <div class="ratio-1-1 bg-gray-300"></div>
</section>
<section class="container lg:flex mb-28 xl:mb-72 flex flex-col xl:flex-row gap-10">
  <div>
    <h2 class="first-letter:tracking-tighter bg-clip-text text-transparent bg-gradient-to-tr from-blue-800 to-purple-800">
      What's this?
    </h2>
    <p class="max-w-para">On a whim I decided I wanted a place to throw general tech writting and deep dives on niche tech. Often around graphics in the web but I also might write about work related topics or just talk about things that excited me.</p>
    <p class="max-w-para">To make this site I have used <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer">11ty.dev</a>, <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer">tailwindcss</a>, a tiny amount of <a href="https://alpinejs.dev/" target="_blank" rel="noreferrer">alpine.js</a>. With something bare bones online I'll likely start doing some more interesting things like interactive canvases, css houdini, and maybe some <a href="https://greensock.com/" target="_blank" rel="noreferrer">Green Sock animations</a>.</p>
  </div>
  <div>
    <h2 class="bg-clip-text text-transparent bg-gradient-to-tr from-blue-800 to-purple-800">Recent posts</h2>
    {% include 'post-list.njk' %}
  </div>
</section>
{% endblock %}
