---
title: Posts
---

{% extends "layouts/main.njk" %}

{% block body %}
<section class="container my-10 md:my-28 h-full">
<h1>All posts</h1>
<p class="mb-10">Random thoughts and code experiments.</p>
{% include 'all-posts-list.njk' %}

</section>
{% endblock %}